body{
    margin: 0;
    padding: 0;
}
table, th, td {
  border: 1px solid rgb(161, 0, 0);
}
th, td {
  padding: 10px;
}
td {
  text-align: center;
}
main {
  display: flex;
  flex-direction: column; /* Sve ide jedno ispod drugog */
  gap: 20px;
}

aside img {
  max-width: 100%; /* Da slike ne pobjegnu iz okvira */
  height: auto;
  border-radius: 10px;
  opacity: 0.7;
  cursor: pointer;
}

/* DESKTOP VERZIJA (Ekran širi od 768px) */
@media (min-width: 768px) {
  main {
    display: grid; 
    grid-template-columns: 3fr 1fr; /* Tablica zauzima 3 dijela, slike 1 dio */
    grid-template-areas: 
      "sec asd"
      "art art";
  }


  article { grid-area: art; }
  section { grid-area: sec; }
  aside   { grid-area: asd; }
}

nav ul{
    display: flex;
    gap: 20px;
    background-color: #b1df0b;
    overflow: hidden;
    margin: 0;
    padding: 0;
}



li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}